@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT serif', serif !important;
  font-size: 20px;
  line height: 33px;
  min-height: 100%;
  position: relative
}

.content-body {
  padding-top: 70px;
  min-height: 100%;
}

.excerpt-box {
  padding: 20px;
}

.excerpt-box a {
  color: black;
}

.excerpt-box a:hover {
  color: gray;
}

.placeholder {
  height: 500px;
}

p {
  padding: 10px;
}

.footer {

}
